.tokens-grid {
  width: 100%;
  font-family: 'sans-serif';
  color: #FFF;
  border-collapse: collapse;
  border: none;
  /* <-- Adicione isso se quiser garantir */
}

.tokens-grid thead tr,
.tokens-grid tbody tr {
  border: none;
}

.tokens-grid td,
.tokens-grid th {
  border: none !important;
  /* <-- Garante que nada venha de fora */
  padding: 0.75rem;
  text-align: left;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem;
  text-align: left;
  background: transparent;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

.tokens-grid tbody td {
  padding: 0.75rem 1rem;
  color: #ccc;
}

.tokens-grid tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tokens-grid tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tokens-grid tbody tr:nth-child(even) td {
  background: #444;
}

.sample-pixel-token div {
  background-color: #00B37E;
  height: 1rem
}